:root {
  --main-color: #c0301c;
  --text-color: #555555;
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type=“checkbox”].visually-hidden,
input[type=“radio”].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 770px;
  padding-top: 34px;
}

.logo__link {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  text-decoration: none;
  float: left;
}

.navigation {
  margin-bottom: 254px;
}

.navigation__list {
  float: right;
  margin-top: 8px;
}

.navigation__list-item {
  float: left;
}

.navigation__list-item:not(:last-child) {
  margin-right: 34px;
}

.navigation__list-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.page-header__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.page-header__description {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.page-header__btn {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  width: 176px;
  height: 46px;
  background-color: transparent;
  margin: 0 auto;
}

/* SERVICES */
.services {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #555555;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.section-title::after {
  content: "";
  display: block;
  background-color: rgb(85, 85, 85);
  width: 50px;
  height: 2px;
  margin: 0 auto;
  margin-top: 28px;
}

.section-description {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  text-align: center;
  margin-bottom: 66px;
}

.services__list {}

.servicres__list-item {
  width: 350px;
  text-align: center;
  float: left;
}

.servicres__list-item::before {
  display: block;
  content: "";
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 2px solid rgb(221, 221, 221);
  margin: 0 auto;
  margin-bottom: 26px;
  background-repeat: no-repeat;
  background-position: center;
}

.servicres__list-item:first-child::before {
  background-image: url("../images/services/fa-support.png");
}

.servicres__list-item:nth-child(2)::before {
  background-image: url("../images/services/code.png");
}

.servicres__list-item:last-child::before {
  background-image: url("../images/services/fa-support.png");
}

.servicres__list-item:not(:last-child) {
  margin-right: 48px;
}

.services__list-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services__list-descritpion {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
}

/* ABOUT */
.about {
  padding-top: 96px;
  padding-bottom: 96px;
  /* background-color: #f8f8f8; */
  background-color: #95a5a6;
  color: #555555;
}

.about__description-content {
  margin-bottom: 66px;
}

.about__description {
  float: left;
  width: 556px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 24px;
}

.slider-wrapper {
  position: relative;
}

.about__description:last-child {
  float: right;
}

.about__list-item {
  float: left;
  width: 262px;
  text-align: center;
  position: relative;
}

.about__list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.about__list-item:not(:last-child) {
  margin-right: 32px;
}

.about__list-img {
  margin-bottom: 16px;
}

.about__list-item-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.about__list-item-position {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  line-height: 24px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: rgba(85, 85, 85, .5);
  opacity: 0;
  visibility: hidden;
}

.overlay__list {
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
}

.overlay__list-item {
  float: left;
}

.overlay__list-item-link {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay__list-item-link:hover {
  background-color: var(--main-color);
}

.facebook {
  background-image: url("../images/about/facebook.png");
}

.twitter {
  background-image: url("../images/about/twitter.png");
}

.google-plus {
  background-image: url("../images/about/google-plus.png");
}

.linkedin {
  background-image: url("../images/about/linkedin.png");
}

.slider-btns-content {
  position: absolute;
  top: 106px;
  left: 0;
  width: 100%;
}

.slider-btn {
  background-color: var(--main-color);
  width: 35px;
  height: 38px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.prev {
  float: left;
  background-image: url('../images/about/prev-btn.png');
}

.next {
  float: right;
  background-image: url("../images/about/next-btn.png");
}

.inactive-slider-btn {
  background-color: rgb(85, 85, 85, .2);
}