.footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #e5e5e5;
}

.footer-text {
  font-size: 14px;
  font-family:"Montserrat", sans-serif;
  color: #333333;
  font-weight: 500;
}

.footer-link {
  color:  #f38181;}

.input-box {
  display: flex;
}
.input-text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  border: 1px solid #e7e7e7;
  border-right: none;
  padding: 12px;
 
}
.input-text::placeholder {
  color: #cccccc;
}


.input-box-btn {
  font-family: "Montserrat", bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #95e1d3;
  font-size: 14px;
  padding: 15px 33px;
  cursor: pointer;
}
