
 .section-team {
  padding-bottom: 82px
}
.section-text {
  max-width: 944px;
  margin: 0 auto 92px;
  font-family: "Roboto", regular;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #999999;
}



.team-text {
margin: auto;
width: 980px;
padding-left: 20px;
padding-right: 20px;
font-family: "Roboto", sans-serif;
font-size: 15px;
color: #999999;
line-height: 24px;
margin-bottom: 92px;
}

.our-team {
display: flex;
}

.team-item {
width: 380px;
}

.team-item:not(:last-child) {
margin-right: 30px;
}

.team-img {
display: block;
max-width: 100%;
height: auto;
margin-bottom: 30px;
transition-property: transform;
transition-duration: 200ms;
transition-timing-function: linear;
}

.team-name {
font-family: "Montserrat", sans-serif;
font-size: 14px;
color: #333333;
text-transform: uppercase;
padding-bottom: 16px;
text-align: center;
}

.profession {
font-family: "Roboto", sans-serif;
font-size: 15px;
color: #999999;
line-height: 24px;
font-style: italic;
text-align: center;
}



.overlay {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: linear-gradient(
  rgba(243, 129, 129, 0.9),
  rgba(252, 227, 138, 0.9));
opacity: 0;
/* transition-property: opacity, transform; */
transition-duration: 200ms;
transition-timing-function: linear;
}




.overlay-wrapper {
position: relative;
}

.team-item:hover .overlay {
opacity: 1;
transform: translate(-10px, -10px);
box-shadow: 10px 10px 0 #95e1d3;
cursor: pointer;
}
.team-item:hover .team-img {
transform: translate(-10px, -10px);
}

.overlay-icons {
/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
display: flex;
justify-content: center;
align-items: center;
height: 100%;
/* width: 100%; */
}

.overlay-icon {
border: none;
width: 56px;
height: 56px;
background-color: #fce38a;
margin-right: 1px;
opacity: 1;
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
}

.overlay-icon:hover {
background-color: #95e1d3;
}

.facebook {
background-image: url(../images/facebook.png);
}
.twitter {
background-image: url(../images/twitter.png);
}
.pinterest {
background-image: url(../images/pinterest.png);
}
.instagram {
background-image: url(../images/instagram.png);
}
