*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-size: 14px;
  font-family: "Open Sans", "Arials", sans-serif;
  color: #555252;
}
.container {
  width: 1110px;
  height: auto;
  margin: 0 auto;
}
.header-nav {
  padding-top: 36px;
  padding-bottom: 32px;
  font-size: 0;
}
.logo {
  float: left;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #555252;
  text-transform: uppercase;
  line-height: 32px;
  text-decoration: none;
  font-weight: 300;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.header-nav-menu {
  float: right;
  margin-top: 6px;
}
.header-nav-menu li {
  float: left;
}
.header-nav-menu-item a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #0f0101;
  letter-spacing: -0.28px;
  line-height: 11px;
  text-decoration: none;
}
.header-nav-menu-item:not(:last-child) {
  margin-right: 36px;
}
.header-nav-menu-item a:hover,
.header-nav-menu-item a:focus {
  color: #1abc9c;
}
/* SLIDER */

.slider-section {
  position: relative;
}
.slider-section img {
  object-fit: cover;
  width: 100%;
  height: 600px;
 
}
.slider-section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: #000000;
  opacity: 0.65;
}
.cont-slider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.description {
  width: 770px;
  margin: 0 auto;
}
.title-slider {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 82px;
  margin: 0;
  color: #ffffff;
  text-align: center;
  margin-bottom: 12px;
}
.slider-text {
  margin: 0;
  font-family: "Roboto", sans-serif, light;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  color: #ffffff;
}
/*кнопки слайдера*/
.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  width: 105px;
  height: 105px;
  background-color: rgba(78, 198, 171, .6);
  border: none;
  cursor: pointer;
}
.button_slider_left {
  left: 0;
  background-image: url(../img/arrow_left.png);
  background-repeat: no-repeat;
  background-position: center;
}
.button_slider_right {
  right: 0;
  background-image: url(../img/arrow_right.png);
  background-repeat: no-repeat;
  background-position: center;
}
.button:hover {
  background-color:rgb(26, 188, 156);
}


/*--collection section--*/
.collection {
  background: #e9f0fd;
  padding-top: 100px;
  padding-bottom: 100px;
}
.collection-title {
  text-align: center;
  margin: 0;
  color: #515151;
  font-family: "Roboto", sans-serif, bold;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.96px;
}
.collection-title::after {
  display: block;
  content: "";
  width: 164px;
  height: 8px;
  margin: 32px auto 80px;
  background:rgb(26, 188, 156);
}

/*--Overlay--*/


.card-collection {
  list-style: none;
}
.collection-img {
  width: 255px;
  height: 283px;
}
.card-collection-item {
  position: relative;
  width: 255px;
  height: 283px;
  float: left;
  margin: 0;
}
.card-collection-item:not(:last-child) {
  margin-right: 30px;
}
.active {
  width: 100%;
  background-color: #323232;
}
.card-collection-item:hover .active {
  background-color: #1abc9c;
}

.card-name {
  margin: 0;
  padding-left: 8px;
  float: left;
}
.card-collection-item-a {
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 40px;
}
.card-price {
  display: block;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.44);
  float: right;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 40px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, 0.3);
  visibility: hidden;
}
.card-collection-item:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

.box-button {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-collection-item:hover .box-button {
  visibility: visible;
}
.ov_buttons {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.5); */
  cursor: pointer;
  float: left;
  margin-right: 8px;
}
.Buttons-box {
  margin-bottom: 7px;
}
.overlay-buttons-heart {
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}
.overlay-buttons-clock {
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}
.overlay-buttons-arrows {
  background-image: url(../img/arrows.png);
  background-repeat: no-repeat;
  background-position: center;
}
.ov_buttons:hover {
  border: none;
  background-color: #1abc9c;
}
.overlay-button:hover {
  background-color: #1abc9c;
  border: none;
}
.ov_buttons:last-child {
  margin-right: 0;
}
.overlay-button {
  height: 50px;
  display: block;
  background-color: #323232;
  background-image: url(../img/basket.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 20px;
  width: 166px;
  height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans", regular;
  font-size: 14px;
  letter-spacing: -0.28px;
  padding-left: 46px;
}


/*--Footer--*/

.footer {
  width: 100%;
  background-color: #323232;
  padding-top: 38px;
  padding-bottom: 32px;
}
.footer-text {
  margin: 0 auto;
  font-family: "Opens Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.32px;
  text-align: center;
}
.footer-text-link {
  text-decoration: none;
  color: #46bfa9;
}