/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
.container {
  width: 320px;
  margin: 0 auto;
}

.header-nav {
  padding-top: 1.25rem;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.caption-website {
  background-image: url(../img/bg-mb.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8.125rem;
  text-align: center;
  padding-bottom: 7.5rem;
}

.box-logo-tablet {
  display: none;
}

.btn-item {
  display: inline;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  cursor: pointer;
  background-color: inherit;
  border-radius: 1.875rem;
  width: 5.875rem;
  height: 2.5rem;
}

.btn:hover {
  border: 2px solid rgb(255, 255, 255);
}

.box-logo-mob {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 2.5rem;
}

.caption {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1.125rem;
  text-align: center;
  text-transform: uppercase;
}

.caption-desk {
  max-width: 13.75rem;
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.5625rem;
  line-height: 2rem;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 1.5625rem;
  text-align: center;
}

.caption-link {
  display: block;
  border-radius: 1.25rem;
  background-color: rgb(255, 78, 80);
  border: 2px solid transparent;
  width: 17.5rem;
  padding: 0.75rem 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.caption-link:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 78, 80);
  border: 2px solid rgb(255, 78, 80);
}


.partner {
  padding-top: 4.25rem;
}

.partner-caption {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.5625rem;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 1.25rem;
}

.partner-list {
  margin-bottom: 1.875rem;
  text-align: center;
}

.partner-item img {
  margin: 0 auto;
  margin-bottom: 1.375rem;
}

.partner-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: rgb(51, 51, 51);
  margin-bottom: 1.125rem;
}

.partner-desk {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  color: rgb(102, 102, 102);
  width: 13.75rem;
}

.btn-partner {
  margin: 0 auto;
  display: block;
  border: 2px solid rgb(255, 78, 80);
  border-radius: 1.25rem;
  width: 17.75rem;
  height: 2.75rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 3.5625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: rgb(255, 78, 80);
  cursor: pointer;
}

.btn-partner:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 78, 80);
}

.image-icon {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.image-icon:after {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  content: "";
  position: absolute;
  top: 85px;
  right: 37px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.bradley:after {
  background-image: url(../img/tv.png);
  background-color: rgb(255, 78, 80);
}

.lucas:after {
  background-image: url(../img/testtube.png);
  background-color: rgb(255, 165, 7);
}

.heather:after {
  background-image: url(../img/cup.png);
  background-color: rgb(28, 215, 173);
}

.brandon:after {
  background-image: url(../img/plane.png);
  background-color: rgb(78, 115, 219);
}

@media (max-width: 767px) {
  .partner-item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 768px) {
  .caption-website {
    background-color: rgb(26, 25, 21);
    background-image: url(../img/bg-tablet.png);
  }

  .container {
    width: 748px;
    margin: 0 auto;
  }

  .box-logo-mob {
    text-transform: uppercase;
    display: none;
  }

  .box-logo-tablet {
    display: inline-block;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.375rem;
  }

  .box-logo-tablet {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.75rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
  }

  .caption-website {
    padding-top: 15.625rem;
    padding-bottom: 14.6875rem;
  }

  .caption {
    font-size: 3.25rem;
    line-height: 4.375rem;
    margin-bottom: 2.75rem;
  }

  .caption-desk {
    max-width: 25.25rem;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    margin-bottom: 2.5rem;
  }
  /* SECTION PARTNER 768-940px */
  .partner {
    padding-top: 4.375rem;
  }

  .partner-caption {
    font-size: 1.4375rem;
    margin-bottom: 1.4375rem;
  }

  .partner-item {
    width: 16rem;
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .partner-item:nth-child(-n + 2) {
    margin-right: 1.25rem;
  }

  .partner-item:nth-child(odd) {
    margin-bottom: 3.5625rem;
  }
}

@media (min-width: 940px) {
  .caption-website {
    background-color: rgb(26, 25, 21);
    background-image: url(../img/bg-desktop.png);
  }
  .container {
    width: 58.75rem;
    margin: 0 auto;
  }

  .partner-caption {
    margin-bottom: 2.4375rem;
  }

  .partner-item {
    width: 13.875rem;
  }

  .partner-list {
    display: flex;
    justify-content: space-between;
  }
  .btn-partner {
    margin-bottom: 4.6875rem;
  }
}
